<p-messages label="Info" life="4000" [(value)]="msgs"></p-messages>

<!-- Nav Bar -->

<nav class="navbar nav-bar-header fixed-top nav-bg-image">
  <div class="col-12 p-0">

    <div class="d-flex align-items-start">
      <!-- org logo and title start -->
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 d-flex">
        <i class="navbar-toggler fa fa-bars border-0 text-primary-emphasis" type="button" (click)="toggleSidebar()"
          *ngIf="!isAdminRole"></i>
        <!-- Responsive Bars Start-->
        <i class="navbar-toggler fa fa-bars border-0 text-primary-emphasis dis-bars" type="button"
          (click)="toggleSidebar()" *ngIf="isAdminRole"></i>
        <div class="navbar-brand">
          <!-- Responsive Bars End-->
          <img src="assets/images/new_logo.png" class="nav-logo">
        </div>
      </div>
      <!-- org logo and title End -->

      <!-- PACS nname with address start -->
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-xs-6 p-0 navbar-responsive-padding-address">
        <div class="d-inline-flex">
          <div class="justify-content-start pacs-img">
            <i class="fa fa-university" aria-hidden="true"></i>
          </div>
          <div class="justify-content-start pacs-name-address">
            <p class="m-0  pacs-name-style">Hyderabad&nbsp;Branch</p>
            <p class="m-0 pacs-address-header">PACS Code: 25645</p>
          </div>
        </div>
      </div>
      <!-- PACS nname with address End -->

      <!-- Notification and language and profile start -->
      <div class="col-xl-5 col-lg-4 col-md-4 col-sm-2 col-xs-2 pull-right p-0 dis-none-rightside">
        <form class="d-flex justify-content-end" role="search">
          <div class="justify-content-end  d-flex right-prfile-language">
            <ul class="nav nav-pills">
              <li class="nav-item notification-bell">
                <i class="fa fa-bell" pBadge [value]="'9'"></i>
              </li>
              <li class="nav-item laguage-dropdown">
                <div class="inline-flex">
                  <span><i class="fa fa-globe"></i></span>
                  <p-dropdown [options]="Translates" [(ngModel)]="translateLang"
                    (onChange)="languageChange(translateLang)">
                    <!-- <ng-template let-item pTemplate="selectedItem">
                      <span class="{{item.icon}}"></span> &nbsp;
                      <span class="size-14">{{item.label}}</span>
                    </ng-template> -->
                    <ng-template let-car pTemplate="item">
                      <div class="">
                        <div class="">{{car.label}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </li>
              <li class="nav-item profile-dropdown">
                <div class="inline-flex">
                  <span><i class="fa fa-user-circle"></i></span>
                  <p-dropdown [options]="profilesList" [(ngModel)]="userProfile"
                    (onChange)="profileChange($event.value)">
                    <!-- <ng-template let-item pTemplate="selectedItem">
                      <span class="{{item.icon}}"></span>&nbsp;
                    </ng-template> -->
                    <ng-template let-car pTemplate="item">
                      <div class="">
                        <span class="{{car.icon}}"></span>&nbsp;&nbsp;
                        <span class="">{{car.label}}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <!-- Notification and language and profile end -->

      <!-- Responsive Notification and language and profile start -->
      <div
        class="col-xl-5 col-lg-4 col-md-4 col-sm-2 col-xs-2 pull-right p-0 dis-none-responsiverightside navbar-responsive-notification-padding">
        <form class="d-flex justify-content-end" role="search">
          <div class="justify-content-end  d-flex right-prfile-language">
            <!-- <ul class="nav nav-pills">
              <li class="nav-item notification-bell">
                <i class="fa fa-bell" pBadge [value]="'9'"></i>
              </li>
            </ul> -->
            <div class="responsive-header">
              <p-button pRipple icon="fa fa-ellipsis-v" (click)="menu.toggle($event)"></p-button>
              <p-tieredMenu #menu [model]="itemsHeader" [popup]="true"></p-tieredMenu>
            </div>
          </div>
        </form>
      </div>
      <!-- Responsive Notification and language and profile end -->
    </div>
  </div>
  <!-- Transaction Side menu start -->
  <!-- Sidebar -->
  <div *ngIf="!isAdminRole">
    <div class="transaction-menu" [class.show]="isSidebarOpen">
      <div class="px-3 pb-2 border-bottom">
        <img src="assets/images/new_logo.png" class="nav-logo pt-2">
        <button type="button" class="btn-close pull-right" (click)="toggleSidebar()"></button>
      </div>
      <div class="col-12 transaction-menulist">
        <div class="transaction-list">
          <p-panelMenu [model]="items" (itemClick)="closeSidebar($event)"></p-panelMenu>
          <!-- <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
      </div>
    </div>
    <!-- Overlay -->
    <div class="overlay" [class.show]="isSidebarOpen" (click)="closeSidebar()"></div>
  </div>
  <!-- Transaction Side menu end -->
</nav>

<div class="col-12 responsive-575px">
  <div class="grid">
    <!-- Master side menu start -->
    <div class="col-2 master-sidemunu dis-sidemenu" *ngIf="isAdminRole">
      <p-panelMenu [model]="items"></p-panelMenu>
    </div>
    <div class="offset-2"></div>
    <!-- Master side menu end -->

    <!-- Responsive Master sidemenu start -->
    <!-- Sidebar -->
    <div *ngIf="isAdminRole">
      <div class="transaction-menu" [class.show]="isSidebarOpen">
        <div class="px-3 pb-2 border-bottom">
          <img src="assets/images/new_logo.png" class="nav-logo pt-2">
          <button type="button" class="btn-close pull-right" (click)="toggleSidebar()"></button>
        </div>
        <div class="col-12 transaction-menulist">
          <div class="transaction-list">
            <p-panelMenu [model]="items" (itemClick)="closeSidebar($event)"></p-panelMenu>
            <!-- <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
          </div>
        </div>
      </div>
      <!-- Overlay -->
      <div class="overlay" [class.show]="isSidebarOpen" (click)="closeSidebar()"></div>
    </div>
    <!-- Responsive Master sidemenu End -->

    <!-- Admin Data -->
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 adminmain-data-div" *ngIf="isAdminRole">
      <div class="col-12 py-0 pl-0">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-12 footer-div"></div>
  </div>

  <!-- Transaction Data -->
  <div class="col-12 transactionmain-data-div" *ngIf="!isAdminRole">
    <router-outlet></router-outlet>
    <div class="col-12 footer-div"></div>
    <div class="speeddial-tooltip-demo">
      <p-toast></p-toast>
      <p-speedDial [model]="tooltipItems" styleClass="speeddial-left" direction="up"
        showIcon="pi pi-reddit"></p-speedDial>
    </div>
  </div>



</div>
<!-- 360 degree view button in transaction -->
<div class="flex align-items-center justify-content-center">
  <p-button class="theme-btn" (click)="showTheam()">Theme Colors</p-button>
  <p-dialog [(visible)]="display" [modal]="false" [closable]="true" header="Choose Theme" [style]="{width: '12vw'}">
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-darkcerulean cursor-pointer" (click)="toggleTheme('darkcerulean')"></div>
      </li>
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-dark cursor-pointer" (click)="toggleTheme('dark')"></div>
      </li>
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-orange cursor-pointer" (click)="toggleTheme('orange')"></div>
      </li>
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-yellow cursor-pointer" (click)="toggleTheme('yellow')"></div>
      </li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center mt-2">
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-green cursor-pointer" (click)="toggleTheme('green')"></div>
      </li>
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-blue cursor-pointer" (click)="toggleTheme('blue')"></div>
      </li>
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-indigo cursor-pointer" (click)="toggleTheme('indigo')"></div>
      </li>
      <li class="list-group-item p-1 border m-1 ">
        <div class="wh-30 bg-violet cursor-pointer" (click)="toggleTheme('violet')"></div>
      </li>
    </ul>
  </p-dialog>

</div>
<!-- 360 degree view button in transaction -->